
.content{
 display:grid;/*create a grid layout*/
 grid-template-columns: repeat(3,1fr); /*create 3 columns each with 1 fractional unit*/
 grid-template-rows:repeat(1,150px) ; /*create 1 rows each 150 px wide*/ 
 gap: 5 px; /*create 5 px spacing*/
}
div{
     /*background-color: cadetblue;*/
     padding: 30px; /*create spacing between the numbers*/
     text-align: center;/*center the text*/
 }
 /*div:nth-of-type(odd){
     background-color: burlywood;/*change the color of odd numbered divs*/
 /*}*/
 .one{
     grid-column: 1 /2 ;/*specify class one  the colomn start at line 1  ends at column line 3*/
     
 }
 .two{
     grid-column: 2 /3;  /*specify the class two starts at colulmn line 3 and ends at colomn line 7*/
 }
 .three{
     grid-column: 3/4;   /*class three div goes from column line 1 to column line 4 */
    /* grid-row: 2 / 4;  /*the row starts at row line 2 and ends at row line 4*/
 }
 /*.container-fluid{
    background-color: orange;
 }*/
/*mobile view*/ 
 @media only screen and(max-width:550px){
    .content{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows:  1fr 1fr 1fr 1fr;
        grid-template-areas: "one"
                             "two"
                             "three";
 }
 
 }
